image:
  repository: ts-dockerhub.lsst.org/audio_broadcaster
  tag: c0035
  pullPolicy: Always
  nexus3: nexus3-docker
ingress:
  hostname: summit-lsp.lsst.codes
  httpPath: /audio-broadcaster
  pathType: Exact
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: 'true'
    nginx.ingress.kubernetes.io/rewrite-target: /audio_feed
env:
  WEBSERVER_PORT: 8888
microphones:
- name: auxtel1
  host: auxtel-rpi-audio01.cp.lsst.org
  port: 4444
